[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
praw = "*"
python-dotenv = "*"
pandas = "*"
numpy = "*"
scipy = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
pipenv-to-requirements = "*"
mysql-connector-python = "*"
pymysql = "*"
apache-airflow = "==2.6.1"
data-engineer-project = {editable = true, path = "."}
acryl-datahub-airflow-plugin = "*"
acryl-datahub = "*"
uvicorn = "*"
fastapi = "*"
duckdb = "*"

[dev-packages]
pytest = "*"
jupyter = "*"
matplotlib = "*"

[requires]
python_version = "3.9"
